* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #4d1ea389, #3b069cb4);
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 30px;
    padding: 40px 50px 40px;
    border-radius: 10px;
}

.todo h2 {
    display: flex;
    align-items: center;
    color: rgb(253, 38, 0);
}

.todo h2 img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button {
    border: none;
    outline: none;
    padding: 15px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    /* it should be position relative as ul li::before will be absolute on it */
    position: relative;
}

ul li::before {
    content: '';
    /* it is set to absolute on the above of relative position */
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('imgs/unchecked.png');
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('imgs/checked.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}